{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div>
            <h4 class="card-title">Listagem de Pacientes
                <a class="float-right  btn btn-primary" href="{% url 'core:paciente-create' %}">Novo Paciente</a>
                <a class="float-right  btn btn-primary" href="{% url 'core:busca-paciente' %}">
                  <i class="fa fa-search" ></i></a>
            </h4>
            
        </div>
        <table class="table table-striped table-sm table-bordered table-hover table-inverse  table-responsive">
            <thead class="thead-default bg-primary text-light">
                <tr>
                    <th>Cod</th>
                    <th>Nome</th>
                    <th>SUS</th>
                    <th>Sexo</th>
                    <th>Data Nascimento</th>
                    <th>Idade</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                    {% for obj in paciente_list %}
                    <tr>
                        <td scope="row">{{obj.id}}</td>
                        <td>{{obj.nome_completo}}</td>
                        <td>{{obj.sus}}</td>
                        <td>{{obj.sexo}}</td>
                        <td>{{obj.data_nascimento|date:'d/m/Y'}}</td>
                        <td>{{obj.data_nascimento|timesince}}</td>
                        <td>
                                {% if obj.status == 'Ativado' %}
                                <i class="btn btn-success btn-lg"></i>
                                
                                {% else %}
                                    <i class="btn btn-danger btn-lg">
                                
                                {% endif %}
                        </td>
                        <td >
                            <a href="{% url 'core:paciente-update' obj.id %}"><i class="btn btn-primary fa fa-pencil-square" ></i></a>
                            {% if obj.status == 'Ativado' %}
                            <a class="btn btn-light" href="{% url 'core:paciente-desativar' obj.id %}">Desativar</a>
                            
                            {% else %}
                            <a class="btn btn-light" href="{% url 'core:paciente-ativar' obj.id %}">Ativar</a>
                            
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
        </table>
    </div>
</div>
{% endblock content %}
