{% extends "base.html" %}

{% block content %}
<div class="card">

    <div class="card-body">
        <div>
            <h4 class="card-title">Registro de Funcionario</h4>
            
        </div>

                <form method="POST">
                    <div class="row">
                        <div class="col-sm-6">

                            {% csrf_token %}
                            {{form.nome_completo.label_tag}}
                            {{form.nome_completo}}
                            <div class="row">
                                <div class="col-sm-8">
                                    {{form.sus.label_tag}}
                            {{form.sus}}
                                </div>
                                <div class="col-sm-4">
                                    {{form.sexo.label_tag}}
                            {{form.sexo}}
                                </div>
                            </div>


                            {{form.cpf.label_tag}}
                            {{form.cpf}}
                            {{form.rg.label_tag}}
                            {{form.rg}}
                            {{form.data_nascimento.label_tag}}
                            {{form.data_nascimento}}

                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <button class="btn btn-primary" type="submit">Enviar</button>

                        </div>

                    </div>
                </form>

    </div>
</div>
<script>
        $("input[name='nome_completo']").focus();
    </script>
{% endblock content %}
